
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}


.layout-header {
  flex-shrink: 0;
}

.layout-main {
  flex-grow: 1;
  padding: 2rem 1rem; 
}


.layout-footer {
  flex-shrink: 0;
  text-align: center;
  padding: 1rem 0;
  background-color: #fff;
  border-top: 1px solid #eee;
  color: #6b7280;
}
